<html>
<head>
   <!--方式一-->
    <!--{% load static %}-->
    <!--<link href='{% static "css/theme.css" %}' rel='stylesheet'  type='text/css' />-->
    <!--<link rel="shortcut icon" href='{%static "favicon.ico" %}' />-->
   <!--方式二-->
    <link href="/static/css/theme.css" rel='stylesheet'  type='text/css' />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <!--<link href='https://htmlstream.com/preview/space-v1.5.0/assets/css/theme.css' rel='stylesheet'  type='text/css' />-->
</head>
<body>

<main id="content" role="main">
    <!-- Hero Section -->
    <div class="gradient-overlay-half-dark-v3 bg-img-hero">
      <!-- Main Content -->
      <div class="d-lg-flex align-items-lg-center height-85vh--lg" style="background-color: #646f79;">
        <div class="container space-2 space-0--lg mt-lg-8">
          <div class="row justify-content-lg-between align-items-lg-center">
            <div class="col-lg-5 mb-7 mb-lg-0">
              <!-- Title -->
              <span class="d-block text-white text-uppercase mb-2">@itest.info</span>
              <h1 class="display-4 font-size-48--md-down text-white mb-0">
                  Interface automation test platform</h1>
              <!-- End Title -->
            </div>

            <div class="col-lg-5">
              <!-- Signup Form -->
              <div class="bg-white shadow-sm rounded p-6">
                <form class="js-validate" novalidate="novalidate" action="/login/" method="post">
                  <div class="mb-4">
                    <h2 class="h4">账号登录</h2>
                  </div>

                  <!-- Input -->
                  <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group input-group form">
                      <input type="text" class="form-control form__input" name="username" required="" placeholder="Enter your username" aria-label="Enter your username">
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Input -->
                  <div class="js-form-message mb-3">
                    <div class="js-focus-state input-group input-group form">
                      <input type="password" class="form-control form__input" name="password" required="" placeholder="Enter your password" aria-label="Enter your password">
                    </div>
                  </div>
                  <!-- End Input -->
                    {{ error }}
                  <button type="submit" class="btn btn-block btn-primary">登录</button>
                    {% csrf_token %}
                </form>
              </div>
              <!-- End Signup Form -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Main Content -->
    </div>

  </main>

</body>
</html>